<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="/js/home.js"></script>
    </head>
    <body>
        <div id="greeting">Hello, <%= username %></div>
        <form id="logout" onsubmit="return false">
            <input type="submit" value="Log Out">
        </form><br><br>
        <form id="createdoc" onsubmit="return false">
            <input placeholder='Document Name' type="text" name="docname"><br>
            <input type="submit" value="Create Doc">
        </form><br><br>
        <form id="search" onsubmit="return false">
            <input placeholder="Try 'NASA'" type="text" name="query"><br>
            <input type="submit" value="Search">
        </form><br><br>
        <ol id="alldocs">
            <!-- Gets populated with last 10 modified documents through
            client-side AJAX (home.js) -->
        </ol>
    </body>
</html>
