<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image upload test</title>
</head>
<body>
  <form action="http://hotpink.cse356.compas.cs.stonybrook.edu/media/upload" method="post" enctype="multipart/form-data">
    <label for="file">upload file</label>
    <input type="file" name="file" id="file-input" accept="image/png, image/jpeg">
    <button type="submit">submit file</button>
  </form>
</body>
</html>